# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# videos
/cypress/videos

# screenshots
/cypress/screenshots

# multiple results
/multiple-results

# IDE
.idea/
*.iml